.session {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #111;
  }
  
  .poster {
    width: 100px;
    height: 150px;
    border-radius: 8px;
    margin-right: 20px;
    object-fit: cover;
  }
  
  .session-content {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .session-content h2 {
    margin: 0;
    color: white;
  }
  
  .session-content p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #bbb;
  }